@font-face {
  font-family: edmond;
  src: url("../fonts/edmond.otf"); }
@font-face {
  font-family: edmondthin;
  src: url("../fonts/edmondthin.otf"); }
video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background: url("../img/snapshot.jpg") no-repeat;
  background-size: cover; }

.dark {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.logo {
  opacity: 0.07;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.logo:hover {
  opacity:1.0;
  cursor: pointer;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}


.name {
  margin-top: 13%; }
  .name h1 {
    font-family: edmond;
    color: white;
    font-size: 75px; }
  .name h3 {
    font-family: edmondthin;
    color: white;
    letter-spacing: 5px; }
  .name a {
    color: white;
    text-decoration: none; }
    .name a:hover {
      opacity: 0.7; }

.quote {
  margin-top: 200px; }
  .quote p {
    font-family: 'Vollkorn', serif;
    color: white;
    font-size: 20px; }
