@font-face {
    font-family: edmond;
    src: url('../fonts/edmond.otf');
}

@font-face {
    font-family: edmondthin;
    src: url('../fonts/edmondthin.otf');
}

video#bgvid {
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	background: url(polina.jpg) no-repeat;
	background-size: cover;
}

.dark {
	background-color: rgba(0,0,0,0.5);
	position: fixed; right: 0; bottom: 0;
	min-width: 100%; min-height: 100%;
	width: auto; height: auto; z-index: -100;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.name {
	margin-top:13%;
	h1 {
		font-family:edmond;
		color:white;
		font-size:75px;
	}
	h3 {
		font-family:edmondthin;
		color:white;
		letter-spacing:5px;
	}
	a {
		color:white;
		text-decoration:none;
		&:hover {
			opacity:0.7;
		}
	}
}

.quote {
	margin-top:200px;
	p{
		font-family: 'Vollkorn', serif;
		color:white;
		font-size:20px;
	}
}